* {
    box-sizing: border-box;
}

input {
    width: 50px;
    margin-right: 8px;
}

.error {
    color: red;
}

#warning {
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
}

#game-container {
    margin: 48px auto 24px auto;
    display: grid;
    border: 0.5px solid #000;  
}

#controls {
    margin: 0 auto;
}

#resize-button {
    display: block;
    padding: 12px 24px;
    min-width: 220px;
    margin: 12px auto 0 auto;
}

.cell {
    width: 50px;
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 0.5px solid #000; 
    font-size: 24px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.cell.group-hover {
    background-color: #e0e0e0; 
}

.cell:hover {
    border: 2px solid #000; 
}